<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>electron-vue</title>
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
  <!-- Add `node_modules/` to global paths so `require` works properly in development -->
  <script>
    require('module').globalPaths.push("<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>")
    // const enav = new (require('electron-navigation'))();
    var mixpanel = require('mixpanel-browser');
  </script>
  <% } %>
</head>

<body>
  <div id="app"></div>
  <!-- Set `__static` path to static files in production -->
  <% if (!process.browser) { %>
  <script>
    if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
  </script>
  <% } %>
  <script type="text/javascript" src="http://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script>
  <script type="text/javascript" src="https://hubble-js-bucket.nosdn.127.net/DATracker.globals.1.2.2.js"></script>
  <!-- 网易易盾防作弊文件 ，会自动启请求https://acstatic-dun.126.net/watchman.min.js  -->
  <script type="text/javascript" src="https://acstatic-dun.126.net/tool.min.js"></script>
  <!-- webpack builds are automatically injected -->
</body>

</html>